<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Статистика платежей</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<link rel="stylesheet" type="text/css" href="../img/admin_style.css"/>
</head>
<body>

<div class="body">

<img src="../img/logo.gif" width="131" height="40" alt="Logo" class="logo"/>

<div class="menu">
<a href="./">Просмотр всех транзакций</a><br/>
<a href="./?stats">Статистика</a><br/>
<a href="./?logout">Выйти</a>
</div>

<table width="620" align="center" cellpadding="2" cellspacing="0" class="blt search-form">
<tr class="th">
    <td align="center">Статистика использования платежных шлюзов</td>
</tr>
<tr>
    <td align="center"><img src="http://chart.apis.google.com/chart?{chartData1}" width="580" height="170" alt="Статистика использования платежных шлюзов"/></td>
</tr>
</table>

<table width="620" align="center" cellpadding="2" cellspacing="0" class="blt search-form">
<tr class="th">
    <td align="center">Суммарный оборот платежей за текущий и предыдущий месяцы</td>
</tr>
<tr>
    <td align="center"><img src="http://chart.apis.google.com/chart?{chartData2}" width="600" height="170" alt="Суммарный оборот платежей за текущий и предыдущий месяцы"/></td>
</tr>
</table>

</div>

</body>
</html>
