<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Счет безналичной оплаты</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body style="padding:8px;margin:0;">

<form action="./?pg=wire&amp;success" method="POST" style="margin:0;" target="_top">
    <input type="button" value="Распечатать счет" onclick="parent.invoice.focus();parent.invoice.print()" style="margin-right:15px;"/>

    <input type="hidden" name="payment_id" value="{paymentID}"/>
    <input type="hidden" name="redirecturl" value="{redirectURL}"/>
    <input type="submit" value="Вернуться в панель управления"/>
</form>
</body>
</html>
